<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of persons</title>
    <link rel = "stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>The People</h1>
    <!-- making reference to add person -->
    <a href = "addPerson">Add Person</a>    
    <br><br>
    <div>
        <table>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
            </tr>
            <!-- Loop to go through the name list "persons" -->
            <tr th:each="person: ${persons}">
                <td th:text = "${person.firstName}"></td>
                <td th:text = "${person.lastName}"></td>
            </tr>
        </table>
    </div>
</body>
</html>